.navbarContainer{
display: flex;
justify-content: space-between !important;

}
.containerHome{

    margin: 0 !important;
    padding: 0 !important;
    }
    
    .buttonAlarm{
      color: white;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
           background-color:transparent;
           border-color:transparent;
        
    }
    .buttonAlarm:hover{
        color:gray;
              width: 50px;
              height: 48px;
              border-radius: 50%;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
             background-color:transparent;
             border-color:transparent;
          
      }
      .btnDownload{
        color: black;
             
              height: 48px;
            
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
             background-color:transparent;
             border-color:transparent;
          
      }
      .btnDownload:hover{
          color:gray;
               
                height: 48px;
               
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
               background-color:transparent;
               border-color:transparent;
               
            
        }
       .btnDownload:active{
        background-color:transparent !important;
        color:black !important;
        border-color:transparent !important;
       }
       .btnLogin{
        color: white;
             
              height: 48px;
            
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
             background-color:transparent;
             border-color:transparent;
          
      }
      .btnLogin:hover{
          color:gray;
               
                height: 48px;
               
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
               background-color:transparent;
               border-color:transparent;
               
            
        }
       .btnLogin:active{
        background-color:transparent !important;
        color:white !important;
        border-color:transparent !important;
       }
       .lblAlarmas{
       
        border-left: 3px solid rgb(65, 61, 61);
        padding-left: 10px;
    
        display: flex;
        justify-content: space-between;
        
       }
       .divLogo{
        background: linear-gradient(to right,  rgba(220, 0, 0, 0.2),rgba(255, 0, 0, 0.8), rgba(220, 0, 0, 0.2));
       }

       .tableHead{
        position:sticky;
        top: 0;
        font-size: 11pt;
        z-index: 1;
       }
       .tableHeader{
        color:rgb(238,235,235) !important;
        background-color: rgb(50,50,50) !important;
       }
       .nombreBarrio{
column-span: 4;
text-align: center;

       }